body {
	color: rgb(245, 245, 220);
	font-family: 'anton', sans-serif;
	height: 100%;
	margin: 0;
	background-color: rgb(35, 35, 63);
}

/********************
*** LEFT SIDE
*********************/

.left-side {
	background-color: rgb(35, 35, 63);
	height: 100%;
	position: absolute;
	width: 50%;
}

#name {
	opacity: 0.3;
	text-transform: uppercase;
	font-size: 80px;
	text-shadow: 5px 10px 30px #888888;
}

hr {
	background-image: url('Img/hrstars.png');
	border: none;
	height: 20px;
	left: 50px;
	position: relative;
	width: 60%;
	margin: 10px;
}

.info {
	font-size: 22px;
	left: 100px;
	position: absolute;
	top: 10px;
	width: 500px;
}

.info p {
	font-size: 28px;
}

/********************
*** RIGHT SIDE
*********************/

.right-side {
	background-image: url("Img/aia.jpg");
	background-size: cover;
	height: 100%;
	position: absolute;
	right: 0;
	width: 50%;
}

/********************
*** MIDLLE
*********************/

.contact {
	position: absolute;
	left: 44%;
	width: 140px;
}

.contact ul {
	list-style-type: none;
	text-align: center;
}

.button {
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 50%;
	background-color: rgb(245, 245, 220);
	border: none;
	color: rgb(35, 35, 63);
	padding: 10px;
	font-size: 12px;
	margin: 3px;
	cursor: pointer;
	box-shadow: 5px 10px 25px #888888;
	width: 70px;
	height: 70px;
}